<button nz-button nzType="primary" (click)="AddCustomer()">Add</button>

<nz-table [nzFrontPagination]="false" [nzData]="customers">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    <td>
      <button nz-button nzType="primary" (click)="editCustomer(customer)">Edit</button>
      <button nz-button nzType="primary" (click)="deleteCustomer(customer)">Delete</button>
    </td>
  </tr>
  </tbody>
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzTotal]="totalCustomers"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="onPageChange($event)">
  </nz-pagination>
</nz-table>




